.color{
    background-color: rgb(16, 0, 22);
    color: rgba(255, 255, 255, 0.9);
}
.jumbotron{
    margin-block: 0%;
}
.marginAdjust{
    margin-left: 25%;
    margin-right: 5%;
}
.img-fluid{
    background-color: rgb(16, 0, 22);
    align-items: center;
    border-color: rgb(16, 0, 24);
}
.photo {
    background-color: rgb(16, 0, 22);
    color:rgba(255, 255, 255, 0.92);
    width: auto;
    height: 3rem;
    aspect-ratio: 2/1;
    object-fit: contain;
    mix-blend-mode:normal;
}
.btn-primary{
    border-color: rgba(255, 255, 255, 0.92);
}
.altColor{
    background-color: rgba(255, 255, 255, 0.92);
    color: rgb(8, 0, 25);
}
.btn:hover{
    background-color: rgb(8, 0, 25);
    color:rgba(255, 255, 255, 0.92);
    border-color: rgba(255, 255, 255, 0.92);
    transition-delay: 100ms;
}
body{
    background-color: rgb(16, 0, 22);
    align-content: center;
}
.navColor{
    background-color: rgb(16, 0, 22);
    color: rgba(255, 255, 255, 0.9);
}
.navColor.scrolled{
    background-color: rgba(16, 0, 24, 0.92);
    color: rgba(255, 255, 255, 0.9);
}
.marginDown{
    margin-top: 7.5%;
}
.row.marginDown{
    margin-top: 3%;
}
.last.marginDown{
    margin-bottom: 2%;
}
.profileImg{
    background-color: rgb(16, 0, 22);
    color:rgba(255, 255, 255, 0.92);
    width: auto;
    height: 15rem;
    aspect-ratio: 2/1;
    object-fit: contain;
    mix-blend-mode:normal;
}

